@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$font-primary-color: #0d0d0e;
$font-secondary-color: #666;
$text-color: #313439;
// $hover-color: #f03c69;
$hover-color: #2a79ff;
$link-color: #3fc4fe;

$code-font: 'Ubuntu Mono', monospace;
$heading-font: 'Nunito', sans-serif;
$primary-font: 'Nunito', sans-serif;
$about-font: 'Comfortaa';

$border: 2px solid #dbdfe4;

$screen-sm: 480px;
$screen-md: 736px;
$screen-lg: 980px;