<div id="about-page">
	<div id="about-animation">
		<div id="about-me">
			<h1 id="first-line">Ian Rogren</h1>
			<p id="second-line">I like to <span id="typed"></span><span id="cursor">|</span></p>
			<p id="third-line">Feel to view all of my ramblings at my <a href="/">blog</a> or drop me a line an <a href="mailto:ian.rogren@gmail.com">ian.rogren[at]gmail.com</a></p>
		</div>
	</div>
	
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ "/assets/bundle.js" | relative_url }}" charset="utf-8"></script>